.discographyContainer {
  margin-left: 20px;
  margin-right: 20px;
}


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(232px, 1fr)); 
  grid-auto-rows: minmax(325px, auto);
}
