.discographyContainer {
  margin-left: 10px;
  margin-right: 10px;
  flex: 1;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(232px, 2fr)); 
  grid-auto-rows: minmax(325px, auto);
}

.detailParentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  flex: 1;
  margin-top: 80px;
}

.detailChildren {


}

.titleAndDates {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;

}

.imageAndDetails {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  padding-left: 17px;
  padding-right: 17px;

}

.pretitle {
  font-size: 14px;
  margin-bottom: 5px;
}

.title {
  font-size: 2.5rem;
  line-height: 1.5;
  max-width: var(--max-width);
}

.detailLabel span {
  font-weight: 500;
}

.detailLabel {
  font-size: 18px;
  /* margin-bottom: 10px; */
}

.detailAlbumCover {
  margin-bottom: 10px;
}

.marginBottom {
  margin-bottom: 10px;
}

.noPlayerMessage {
  max-width: var(--max-width);
}