.footerWrapper {
    display: grid;
    grid-template-rows: 1.5fr 0.5fr;
    justify-content: space-evenly;
    width: 100%;
}

.socialMediaContainer {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.socialMedia  {
    display: flex;
    height: auto;
}

