.homeContainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 200px)); 
    height: fit-content;
}   

.title p {
    text-align: center;
    padding-left:0;
    color:black;
    background-color: white;
}

.containerLeft {
    position: relative;
    top:-100px;
}
