.navContainer {
    display: grid;
    grid-template-rows: 2fr 1fr;
    gap:15px;
    flex-direction: row;
    color:black;
    width: 100%;  
}

.navContainer a {
 text-decoration: none;
}

.titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 56px;
}

.titleContainer p {
    font-size: 12px;
}

.currentPage {
   text-align: right;
    font-size: x-large;
    border:0.5px solid pink;
}

.navLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.linkContainer {
    border: 0.5px soild #00ff1e;
    width: 200px;
    height:fit-content;
    display: flex;
    justify-content: center;
}
