.navContainer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    flex-direction: row;
    color: black;
    width: 100%;

}

.navContainer a {
    text-decoration: none;
}

.titleContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 56px;
    box-shadow: 0 5px 10px -5px rgba(83, 82, 80, 0.33);
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: 300;
    letter-spacing: 8px;
}

.titleContainer p {
    font-size: 12px;
}

.currentPage {
    text-align: right;
    font-size: x-large;
    font-weight: 100;
    letter-spacing: 4px;
}

.currentPage:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 8px;
}

.navLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.linkContainer {
    border: 0.5px soild #00ff1e;
    width: 200px;
    height: fit-content;
    display: flex;
    justify-content: center;
}