.searhBarWrapper {
  display: grid;
  grid-template-rows: 2fr ;
}

.searchBarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  box-sizing: border-box; 
  width: 100%;
}


.counter {
  display:flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  letter-spacing: 2px;
}
 

 .customSelectWrapper {
  position: relative;
  margin-right: 12px; 
  cursor: pointer;
}

.customSelectBox {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 35px; 
  font-weight: 100;
  letter-spacing: 2px;
  border-radius: 6px;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 16px 16px;
}

.arrow {
  padding-left:5px;
  font-size: 0.4rem;
}

.customSelectDropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: fit-content;
  overflow-y: auto;
  margin-top: 2px;
  background-color: black;
  border: 0.5px solid #ccc;
  border-radius: 6px;
  z-index: 10;
  list-style: none;
  padding: 0;
}

.customSelectOption {
  padding: 5px 10px;
  font-weight: 100;
  letter-spacing: 2px;
  color: white;
}

.customSelectOption:hover,
.selected {
  background-color: purple;
}

.yearDropdown .customSelectBox {
  background-image: url('/clock-with-white-face.png');

}

.processDropdown .customSelectBox {
  background-image: url('/light-bulb.png');
}

.creativeProcessDropDown {
  width: 400px;
}

.typeDropdown .customSelectBox {
  background-image: url('/location.png');
}

.acessoryButtonsContainer {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;

}

.reverseButton {
  background-image: url('../.././public/reverse_2.svg');
  background-repeat: no-repeat;
  background-position: center;   
  background-size: 15px 15px;    
  background-color:transparent;
  color:grey;
  width: 20px;   
  height: 20px;  
  stroke-width: 2;  
  border: none;
  cursor: pointer;
  margin-left: 8px;
}
